@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 300px;
    background: #E0E8F0 url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+CjxyZWN0IHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgZmlsbD0iI0YwRjhGRiIvPgo8cmVjdCB4PSIxNSIgd2lkdGg9IjMwIiBoZWlnaHQ9IjMwIiBmaWxsPSIjRDZFQUY4Ii8+Cjwvc3ZnPg==') repeat;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    left: 0;
}

#sidebar.hidden {
    left: -320px;
}

#toggle-btn {
    position: absolute;
    top: 10px;
    right: -40px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #B0C4DE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#toggle-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

#sidebar:hover {
    box-shadow: 5px 0 15px rgba(0,0,0,0.2);
}


#search-input {
    width: calc(100% - 10px); /* Adjust for padding */
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #B0C4DE; /* Light Steel Blue */
    border-radius: 4px;
    background-color: #F0F8FF; /* Alice Blue */
}

#category-filters h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.1em; /* Slightly larger font for headings */
}

#category-filters label {
    display: block;
    margin-bottom: 5px;
}

#search-results {
    margin-top: 20px;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.search-result-item:hover {
    background-color: #D6EAF8; /* Lighter Pastel Blue */
}

#map {
    flex-grow: 1; /* Takes the remaining width */
    height: 100%;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.leaflet-popup-content-wrapper {
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.leaflet-popup-content-wrapper:hover {
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

.popup-content {
    max-height: 200px;
    overflow-y: auto;
    padding: 15px;
    border-radius: 8px;
}

.popup-content h3 {
    margin-top: 0;
}

.popup-content img {
    border-radius: 4px;
    margin-bottom: 10px;
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
}

.leaflet-marker-icon {
    animation: breathe 2s infinite ease-in-out;
}
